In [1]:
import pandas as pd
import numpy as np
import os
# import subprocess
# subprocess.check_call(['pip', 'install', 'numpy']) # install pkg
# subprocess.check_call(['pip', 'install',"--upgrade", 'numpy']) # upgrade pkg

In [2]:
import os

path = 'Main bank/'

files = []
filesNoAdd = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.CSV' in file:
            files.append(os.path.join(r, file))
            filesNoAdd.append(file)

for f in filesNoAdd:
    print(f)

04-05-2019.CSV
06-04-2019.CSV
09-03-2019.CSV
13-04-2019.CSV
16-03-2019.CSV
20-04-2019.CSV
23-02-2019.CSV
23-03-2019.CSV
27-04-2019.CSV
30-03-2019.CSV

In [4]:
f1 = '04-05-2019'
f = ('Main bank/' + f1 + '.CSV')
rawData = pd.read_csv(f , encoding='latin1')
# rawData

In [5]:
sku = rawData.values[:189,0]

upc = rawData.values[:189,1]

Catalogue = rawData.values[:189,2]

title = rawData.values[:189,3]

label = rawData.values[:189,4]

Cost_Price = rawData.values[:189,5]

VSP = rawData.values[:189,6]

In [6]:
rawDatVal = []
rawDatVal = rawData.values[:189,7:149]
eachRaw = []
allRawvalue = []
BranchTotal = rawDatVal.sum(axis=0)

for i in range(len(rawDatVal[:,0])):
    for j in range(int((len(rawDatVal[0,:]))/3)):
        
        k=3 * j 

        eachRaw.append(rawDatVal[i,k])
    eachRaw = np.array(eachRaw)
    allRawvalue.append(eachRaw.sum())
    eachRaw = []



# rawData['Sum of sale for each goods'] = allRawvalue

In [7]:

eachRaw = []

BranchTotal = rawDatVal.sum(axis=0)
for j in range(int(len(rawDatVal[0,:])/3)):
    k=3 * j 
    sum = 0
    for i in range(len(rawDatVal[:,0])):
        sum += rawDatVal[i,k]
    rawData.iloc[i+1,k] = sum
    

    eachRaw = []
# allRawvalue.append(np.array(allRawvalue).sum())
# allRawvalue.append(np.array(allRawvalue).sum())

In [8]:
Virgin_Stock = []
Virgin_Stock = pd.DataFrame(Virgin_Stock)
Virgin_Stock['sku'] = sku
Virgin_Stock['upc'] = upc
Virgin_Stock['Catalogue'] = Catalogue
Virgin_Stock['title'] = title
Virgin_Stock['label'] = label
Virgin_Stock['VMS Cost'] = Cost_Price
Virgin_Stock['VSP'] = VSP


Virgin_Stock[f1] = list(allRawvalue)

In [9]:
i = 1
buf = np.zeros(len(Virgin_Stock.values[:,1]), dtype=int)



## i
for j in range(i):
    buf += np.array(Virgin_Stock.values[:,7+j], dtype = int)

Virgin_Stock["TOTAL"] = buf
ii = np.full(len(Virgin_Stock.values[:,1]) ,i )

Virgin_Stock["AVG. WEEK"] = np.divide(Virgin_Stock["TOTAL"] , ii)
Virgin_Stock['total VMS Cost'] = Virgin_Stock["TOTAL"] * Virgin_Stock['VMS Cost']
Virgin_Stock['total V.S.P.'] = Virgin_Stock["TOTAL"] * Virgin_Stock['VSP']
count = 0
for head in list(rawData.head(0)):
    if ".Sales Quantity" in head:
        Virgin_Stock[head] = rawData[head]
        try:
            headNum = int(head.replace(".Sales Quantity",''))
        except:
            print(int(headNum)," can't be cast to int")
        headNum = str(headNum)
        Virgin_Stock['TOTAL' + headNum] = rawData.values[:189, count]
        Virgin_Stock['VMS Cost' + headNum] = Virgin_Stock['VMS Cost'] * Virgin_Stock['TOTAL' + headNum]
        Virgin_Stock['V.S.P.' + headNum] = Virgin_Stock['VSP'] * Virgin_Stock['TOTAL' + headNum]
        Virgin_Stock['AVG. WEEK' + headNum] = np.divide(Virgin_Stock['TOTAL' + headNum] , ii)
    count +=1

In [10]:
Virgin_Stock.to_csv('Virgin_Stock.csv', index =False)

In [45]:
#  Virgin_Stock['VMS Cost'] * Virgin_Stock['TOTAL' + headNum]

In [29]:
import os

path = '4Th Month/'

files = []
filesNoAdd = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.CSV' in file:
            files.append(os.path.join(r, file))
            filesNoAdd.append(file)

for f in filesNoAdd:
    print(f)

06-04-2019.CSV
13-04-2019.CSV
20-04-2019.CSV
27-04-2019.CSV

In [83]:
fcount = 0
for f in filesNoAdd: 
    f1 = ('4Th Month/' + f)
    rawData = pd.read_csv(f1 , encoding='latin1')
    monthRawData = pd.DataFrame(rawData.head(0))
    
    sid =0

    for sku in rawData['Sku']:
        if sku not in monthRawData['Sku']:
            df = pd.DataFrame(list(rawData.values[sid,:]))
            monthRawData.append(df)
        else:
            for rowid in range()
            monthRawData.list(rawData.values[sid,6:]
            
        sid += 1

IndentationError: expected an indented block (<ipython-input-83-a9932a7777b5>, line 16)

In [38]:
   monthData = pd.DataFrame(columns=list('AB'))

Empty DataFrame
Columns: [Sku, UPC, Catalogue N, Title, Label, Cost Price, V.S.P., 401.Quantit, 401.Sales Quantity, 401.Sales Value, 402.Quantit, 402.Sales Quantity, 402.Sales Value, 404.Quantit, 404.Sales Quantity, 404.Sales Value, 405.Quantit, 405.Sales Quantity, 405.Sales Value, 412.Quantit, 412.Sales Quantity, 412.Sales Value, 416.Quantit, 416.Sales Quantity, 416.Sales Value, 417.Quantit, 417.Sales Quantity, 417.Sales Value, 423.Quantit, 423.Sales Quantity, 423.Sales Value, 424.Quantit, 424.Sales Quantity, 424.Sales Value, 425.Quantit, 425.Sales Quantity, 425.Sales Value, 426.Quantit, 426.Sales Quantity, 426.Sales Value, 429.Quantit, 429.Sales Quantity, 429.Sales Value, 444.Quantit, 444.Sales Quantity, 444.Sales Value, 490.Quantit, 490.Sales Quantity, 490.Sales Value]
Index: []

[0 rows x 49 columns]

In [44]:
df2

   A  B
0  5  6
1  7  8