In [6]:
import pandas as pd
import numpy as np

In [7]:
SupplierData = pd.read_csv('Supplier Forecast -UAE.csv', encoding='latin1')

In [9]:
# numListOfBranch = ['401 Co','402 Co','404 Co','405 Co','412 Co','416 Co',
#                    '417 Co','423 Co', '424 Co','425 Co','426 Co','429 Co','444 Co','490 Co']
MonthesList = ['January', 'february', 'March', 'April', 'May', 'June', 'July', 
               'August', 'September', 'October', 'November', 'December']
listOfBranch = ['401 Co', '401.Arq COST', '401.Cost Price', '401.V.S.P.', '401.AVG. WEEK',
                '402 Co', '402.Arq COST', '402.Cost Price', '402.V.S.P.', '402.AVG. WEEK',
                '404 Co', '404.Arq COST', '404.Cost Price', '404.V.S.P.', '404.AVG. WEEK',
                '405 Co', '405.Arq COST', '405.Cost Price', '405.V.S.P.', '405.AVG. WEEK',
                '412 Co', '412.Arq COST', '412.Cost Price', '412.V.S.P.', '412.AVG. WEEK',
                '416 Co', '416.Arq COST', '416.Cost Price', '416.V.S.P.', '416.AVG. WEEK',
                '417 Co', '417.Arq COST', '417.Cost Price', '417.V.S.P.', '417.AVG. WEEK',
                '423 Co', '423.Arq COST', '423.Cost Price', '423.V.S.P.', '423.AVG. WEEK',
                '424 Co', '424.Arq COST', '424.Cost Price', '424.V.S.P.', '424.AVG. WEEK',
                '425 Co', '425.Arq COST', '425.Cost Price', '425.V.S.P.', '425.AVG. WEEK',
                '426 Co', '426.Arq COST', '426.Cost Price', '426.V.S.P.', '426.AVG. WEEK',
                '429 Co', '429.Arq COST', '429.Cost Price', '429.V.S.P.', '429.AVG. WEEK',
                '444 Co', '444.Arq COST', '444.Cost Price', '444.V.S.P.', '444.AVG. WEEK',
                '490 Co', '490.Arq COST', '490.Cost Price', '490.V.S.P.', '490.AVG. WEEK',
                'Latest SOH']

productDetail = ['Part No', "Description", 'UPC', 'ARQOOB SOH', 'HMV_SOH', 'VMS-U_SOH',
                 'VMS-Q_SOH', 'Vir_SOH', 'Total', 'HMV_Cost', 'VMS-U_Cost', 'VMS-Q_Cost',
                 'Vir (QAR)_Cost', 'Final_Cost', 'HMV_Price', 'VMS-U_Price',
                 'VMS-Q_Price', 'Vir (QAR)_Price', 'HMV_RRP', 'VMS-U_RRP', 'VMS-Q_RRP',
                 'Vir (QAR)_RRP']
header = productDetail.copy()
header.extend(listOfBranch.copy())

In [12]:
supplierForecast = pd.DataFrame(columns = list(header))

In [11]:
supplierForecast

Empty DataFrame
Columns: [Part No, Description, UPC, ARQOOB SOH, HMV_SOH, VMS-U_SOH, VMS-Q_SOH, Vir_SOH, Total, HMV_Cost, VMS-U_Cost, VMS-Q_Cost, Vir (QAR)_Cost, Final_Cost, HMV_Price, VMS-U_Price, VMS-Q_Price, Vir (QAR)_Price, HMV_RRP, VMS-U_RRP, VMS-Q_RRP, Vir (QAR)_RRP, 401 Co, 401.Arq COST, 401.Cost Price, 401.V.S.P., 401.AVG. WEEK, 402 Co, 402.Arq COST, 402.Cost Price, 402.V.S.P., 402.AVG. WEEK, 404 Co, 404.Arq COST, 404.Cost Price, 404.V.S.P., 404.AVG. WEEK, 405 Co, 405.Arq COST, 405.Cost Price, 405.V.S.P., 405.AVG. WEEK, 412 Co, 412.Arq COST, 412.Cost Price, 412.V.S.P., 412.AVG. WEEK, 416 Co, 416.Arq COST, 416.Cost Price, 416.V.S.P., 416.AVG. WEEK, 417 Co, 417.Arq COST, 417.Cost Price, 417.V.S.P., 417.AVG. WEEK, 423 Co, 423.Arq COST, 423.Cost Price, 423.V.S.P., 423.AVG. WEEK, 424 Co, 424.Arq COST, 424.Cost Price, 424.V.S.P., 424.AVG. WEEK, 425 Co, 425.Arq COST, 425.Cost Price, 425.V.S.P., 425.AVG. WEEK, 426 Co, 426.Arq COST, 426.Cost Price, 426.V.S.P., 426.AVG. WEEK, 429 Co, 429.Arq COST, 429.Cost Price, 429.V.S.P., 429.AVG. WEEK, 444 Co, 444.Arq COST, 444.Cost Price, 444.V.S.P., 444.AVG. WEEK, 490 Co, 490.Arq COST, 490.Cost Price, 490.V.S.P., 490.AVG. WEEK, Latest SOH]
Index: []

[0 rows x 93 columns]